In [29]:
import pandas as pd
import numpy as np

Carrega o arquivo de voos em 2018

In [30]:
flights_2018 = pd.read_csv('flights_2018_model.csv') 
flights_2018 = flights_2018[['pais_origem', 'pais_destino']]

Carrega os arquivos de voos em 2019

In [31]:
flights_2019_1 = pd.read_csv('flights_2019_1_model.csv')
flights_2019_1 = flights_2019_1[['pais_origem', 'pais_destino']]
flights_2019_2 = pd.read_csv('flights_2019_2_model.csv')
flights_2019_2 = flights_2019_2[['pais_origem', 'pais_destino']]

Junta os arquivos

In [32]:
flights = flights_2018.append(flights_2019_2)
flights = flights.append(flights_2019_1)

The history saving thread hit an unexpected error (OperationalError('disk I/O error',)).History will not be written to the database.

In [33]:
flights.head()

     pais_origem   pais_destino
0  United States  United States
1  United States  United States
2  United States  United States
3  United States  United States
4  United States  United States

Exclui todas as linhas que contem Nan para o pais origem ou para o pais destino e adiciona uma coluna para posteriormente contabilizar a quantidade de voos entre os paises

In [34]:
flights = flights.dropna()
flights['qtde_voos'] = 1

In [35]:
flights.head()

     pais_origem   pais_destino  qtde_voos
0  United States  United States          1
1  United States  United States          1
2  United States  United States          1
3  United States  United States          1
4  United States  United States          1

Separa os voos em 'Nacionais' ou 'Internacionais'

In [36]:
national = np.where(flights['pais_origem']==flights['pais_destino'], True, False)
national_flights = flights[national]
international = np.where(flights['pais_origem']!=flights['pais_destino'], True, False)
international_flights = flights[international]

print('Total de voos internacionais: ' + str(international_flights.shape))
print('Total de voos nacionais: ' + str(national_flights.shape))

Total de voos internacionais: (8416041, 3)
Total de voos nacionais: (12802064, 3)

Agrupa contabilizando os voos nacionais e tirando a média diária (qtde de voos totais / 730)

In [37]:
national_flights = national_flights.groupby(['pais_origem', 'pais_destino']).sum()
national_flights['qtde_voos'] = national_flights['qtde_voos']/730

In [38]:
national_flights.head()

                            qtde_voos
pais_origem pais_destino
Algeria     Algeria          0.238356
Argentina   Argentina        9.446575
Armenia     Armenia          0.016438
Aruba       Aruba            0.110959
Australia   Australia     1072.543836

Agrupa contabilizando os voos internacionais e tirando a média diária (qtde de voos totais / 730)

In [39]:
international_flights = international_flights.groupby(['pais_origem', 'pais_destino']).sum()
international_flights['qtde_voos'] = international_flights['qtde_voos']/730

international_flights = international_flights.reset_index()
international_flights.to_csv('international_graph.csv')

In [40]:
international_flights.head()

  pais_origem pais_destino  qtde_voos
0     Algeria    Argentina   0.001370
1     Algeria      Austria   0.173973
2     Algeria      Belgium   0.253425
3     Algeria       Brazil   0.021918
4     Algeria       Canada   0.272603