In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pycountry
import pycountry_convert as pc
from scipy import stats

# Loading Data

## Gross Domestic Product

In [2]:
#countries income group
df_gdp_group = pd.read_csv('data/gdp_group.csv', delimiter =';')
df_gdp_group = df_gdp_group[['TableName', 'IncomeGroup']]
df_gdp_group.columns = ['pais', 'IncomeGroup']

#gdp percapita
df_gdp_pc = pd.read_csv('data/gdp_percapita.csv', delimiter =';', dtype={'2018': np.float32})
df_gdp_pc.columns = ['pais', 'gdp_pc']

#gdp
df_gdp = pd.read_csv('data/gdp_values.csv', delimiter =';', dtype={'2018': np.float32})
df_gdp.columns = ['pais', 'gdp']

df_potential = pd.read_csv('data/viral_potential.csv')

## Flights Percent Loss

In [3]:
df_pct_loss = pd.read_csv('data/flights_pct_loss_week.csv')

In [4]:
df_pct_loss = df_pct_loss[(df_pct_loss.valor_semana >=15) & (df_pct_loss.valor_semana <=22)]

In [5]:
# df_pct_loss = df_pct_loss[['pais', 'pct_loss']].groupby(['pais']).mean().reset_index()

In [6]:
df_pct_loss

,pais,valor_semana,dia_semana,voos_soma,jan_mean,pct_loss,date,continent
69,Algeria,15,0,3.0,130.076923,0.976937,2020-04-11,Africa
70,Algeria,15,1,3.0,130.076923,0.976937,2020-04-11,Africa
71,Algeria,15,2,17.0,130.076923,0.869308,2020-04-11,Africa
72,Algeria,15,3,24.0,130.076923,0.815494,2020-04-11,Africa
73,Algeria,15,4,5.0,130.076923,0.961561,2020-04-11,Africa
...,...,...,...,...,...,...,...,...
8536,Kazakhstan,22,3,12.0,133.192308,0.909905,2020-05-30,Asia
8539,Latvia,15,6,1.0,198.615385,0.994965,2020-04-11,Europe
8541,Morocco,22,0,2.0,110.653846,0.981926,2020-05-30,Africa
8542,Singapore,19,6,6.0,1038.461538,0.994222,2020-05-09,Asia
8544,Thailand,21,3,13.0,1540.653846,0.991562,2020-05-23,Asia

## Economic Impact

In [7]:
df_eco_impct = pd.read_csv('data/all_variables_response_economic_countries.csv')
df_eco_impct = df_eco_impct[['Country', 'Output-CLI percent impact']]
df_eco_impct.columns = ['pais', 'Output-CLI percent impact']

## Population

In [8]:
df_pop = pd.read_csv('data/socio_stats_countries.csv')

df_pop = df_pop[df_pop.variable == 'Population']
df_pop = df_pop[['Name', 'value']]
df_pop.columns = ['pais', 'pop']

## Export Goods and Services

In [9]:
df_goods_serv = pd.read_csv('data/export_goods_serv.csv', delimiter =';', dtype={'2018': np.float32}, encoding='cp1252')
df_goods_serv.columns = ['pais', 'value_goods_serv']

## Covid Deaths

In [10]:
df_covid = pd.read_csv('data/total_cases_countries_normalized.csv')
df_covid = df_covid[df_covid.Date == '2020-05-18']
df_covid = df_covid[['Name', 'TotalDeaths']]
df_covid.columns = ['pais', 'TotalDeaths0518']

# 1st  Occurrence of Covid

In [11]:
covid = pd.read_csv('data/total_cases_countries_normalized.csv')

In [12]:
first_date = []

for pais in covid.Name.unique():
    auxdf = covid[covid.Name == pais]
    auxdf = auxdf[auxdf.TotalDeaths != 0]
    if not(auxdf.empty):
        fd = auxdf.iloc[0].Day
    first_date.append([pais, fd])
df_first_date = pd.DataFrame(first_date, columns = ['pais', '1stDay' ])

## Eigenvector Centrality

In [13]:
df_eigenvec = pd.read_csv('data/eigenvector_centrality.csv')
df_eigenvec.columns = ['pais', 'centrality']

## Target Probabilty

In [14]:
df_target_prob = pd.read_csv('data/probability_matrix.csv')
df_target_prob = df_target_prob[['target', 'prob']].groupby('target').mean().reset_index()

In [15]:
df_target_prob.columns = ['pais', 'prob_target']

## Coordinates

In [16]:
df_lat_long = pd.read_csv('data/lat-long.csv', delimiter = ';')
df_lat_long = df_lat_long[['name', 'latitude', 'longitude']]
df_lat_long.columns = ['pais', 'lat', 'long']

## Solving country names problem

In [17]:
#Hong Kong Macau Russia Slovakia South Korea Taiwan

def rename_dataworldbank(d):
    d = d.set_index('pais')
    d = d.rename(index ={'Hong Kong SAR, China':'Hong Kong'})
    d = d.rename(index ={'Macao SAR, China':'Macau'})
    d = d.rename(index ={'Russian Federation':'Russia'})
    d = d.rename(index ={'Slovak Republic':'Slovakia'})
    d = d.rename(index ={'Korea, Rep.':'South Korea'})
    d = d.reset_index()
    return d

df_gdp = rename_dataworldbank(df_gdp)
df_gdp_pc = rename_dataworldbank(df_gdp_pc)
df_goods_serv = rename_dataworldbank(df_goods_serv)

## Merging DataFrames

In [18]:
df = df_pct_loss.merge(df_gdp_group, 'left', on = 'pais')
df = df.merge(df_gdp, 'left', on = 'pais')
df = df.merge(df_gdp_pc, 'left', on = 'pais')
df = df.merge(df_eco_impct, 'left', on = 'pais')
df = df.merge(df_pop, 'left', on = 'pais')
df = df.merge(df_goods_serv, 'left', on = 'pais')
df = df.merge(df_covid, 'left', on = 'pais')
df = df.merge(df_first_date, 'left', on = 'pais')
df = df.merge(df_eigenvec, 'left', on = 'pais')
df = df.merge(df_target_prob, 'left', on = 'pais')
df = df.merge(df_lat_long, 'left', on = 'pais')

In [19]:
paises = df.pais
mapping = {country.name: country.alpha_3 for country in pycountry.countries}
cod_pais = [mapping.get(x) for x in paises]

In [20]:
df['cod_pais'] = cod_pais

In [21]:
df

,pais,valor_semana,dia_semana,voos_soma,jan_mean,pct_loss,date,continent,IncomeGroup,gdp,...,Output-CLI percent impact,pop,value_goods_serv,TotalDeaths0518,1stDay,centrality,prob_target,lat,long,cod_pais
0,Algeria,15,0,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,NaN,42228429.0,NaN,548.0,73.0,0.084755,0.004530,28.033886,1.659626,DZA
1,Algeria,15,1,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,NaN,42228429.0,NaN,548.0,73.0,0.084755,0.004530,28.033886,1.659626,DZA
2,Algeria,15,2,17.0,130.076923,0.869308,2020-04-11,Africa,Upper middle income,1.740000e+11,...,NaN,42228429.0,NaN,548.0,73.0,0.084755,0.004530,28.033886,1.659626,DZA
3,Algeria,15,3,24.0,130.076923,0.815494,2020-04-11,Africa,Upper middle income,1.740000e+11,...,NaN,42228429.0,NaN,548.0,73.0,0.084755,0.004530,28.033886,1.659626,DZA
4,Algeria,15,4,5.0,130.076923,0.961561,2020-04-11,Africa,Upper middle income,1.740000e+11,...,NaN,42228429.0,NaN,548.0,73.0,0.084755,0.004530,28.033886,1.659626,DZA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,Kazakhstan,22,3,12.0,133.192308,0.909905,2020-05-30,Asia,Upper middle income,1.790000e+11,...,NaN,18272430.0,6.708301e+10,34.0,90.0,0.111078,0.005259,48.019573,66.923684,KAZ
3590,Latvia,15,6,1.0,198.615385,0.994965,2020-04-11,Europe,High income,3.440923e+10,...,NaN,1927174.0,2.108244e+10,19.0,95.0,0.102359,0.008210,56.879635,24.603189,LVA
3591,Morocco,22,0,2.0,110.653846,0.981926,2020-05-30,Africa,Lower middle income,1.180000e+11,...,NaN,36029138.0,4.312939e+10,192.0,72.0,0.097476,0.004595,31.791702,-7.092620,MAR
3592,Singapore,19,6,6.0,1038.461538,0.994222,2020-05-09,Asia,High income,3.640000e+11,...,NaN,5638676.0,6.631230e+11,22.0,82.0,0.094453,0.012056,1.352083,103.819836,SGP
3593,Thailand,21,3,13.0,1540.653846,0.991562,2020-05-23,Asia,Upper middle income,5.050000e+11,...,NaN,69428524.0,3.285820e+11,56.0,61.0,0.107106,0.025415,15.870032,100.992541,THA

In [22]:
df['gdp_pcap'] = df['gdp']/df['pop']
df['value_goods_serv_pcap'] = df['value_goods_serv']/df['pop']

df = df.rename(columns={'pais':'Country'})

df['Day'] = ((df['valor_semana']-1) * 7) + df['dia_semana']

df.head()

,Country,valor_semana,dia_semana,voos_soma,jan_mean,pct_loss,date,continent,IncomeGroup,gdp,...,TotalDeaths0518,1stDay,centrality,prob_target,lat,long,cod_pais,gdp_pcap,value_goods_serv_pcap,Day
0,Algeria,15,0,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,548.0,73.0,0.084755,0.00453,28.033886,1.659626,DZA,4120.446842,NaN,98
1,Algeria,15,1,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,548.0,73.0,0.084755,0.00453,28.033886,1.659626,DZA,4120.446842,NaN,99
2,Algeria,15,2,17.0,130.076923,0.869308,2020-04-11,Africa,Upper middle income,1.740000e+11,...,548.0,73.0,0.084755,0.00453,28.033886,1.659626,DZA,4120.446842,NaN,100
3,Algeria,15,3,24.0,130.076923,0.815494,2020-04-11,Africa,Upper middle income,1.740000e+11,...,548.0,73.0,0.084755,0.00453,28.033886,1.659626,DZA,4120.446842,NaN,101
4,Algeria,15,4,5.0,130.076923,0.961561,2020-04-11,Africa,Upper middle income,1.740000e+11,...,548.0,73.0,0.084755,0.00453,28.033886,1.659626,DZA,4120.446842,NaN,102

In [23]:
df_potential

            Country  Day  DailyCases  ActiveCases  centrality  ViralPotential
0           Algeria    0         0.0          0.0    0.071152        0.000000
1           Algeria    1         0.0          0.0    0.071152        0.000000
2           Algeria    2         0.0          0.0    0.071152        0.000000
3           Algeria    3         0.0          0.0    0.071152        0.000000
4           Algeria    4         0.0          0.0    0.071152        0.000000
...             ...  ...         ...          ...         ...             ...
8009  United States  135     20782.0     350837.0    0.168602        0.823113
8010  United States  136     27143.0     348063.0    0.168602        0.816605
8011  United States  137     25508.0     339616.0    0.168602        0.796787
8012  United States  138     24487.0     334815.0    0.168602        0.785523
8013  United States  139     18873.0     328716.0    0.168602        0.771214

[8014 rows x 6 columns]

In [24]:
df = df.merge(df_potential, on=['Country', 'Day'])

df

,Country,valor_semana,dia_semana,voos_soma,jan_mean,pct_loss,date,continent,IncomeGroup,gdp,...,lat,long,cod_pais,gdp_pcap,value_goods_serv_pcap,Day,DailyCases,ActiveCases,centrality_y,ViralPotential
0,Algeria,15,0,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,28.033886,1.659626,DZA,4120.446842,NaN,98,103.0,1193.0,0.071152,0.001181
1,Algeria,15,1,3.0,130.076923,0.976937,2020-04-11,Africa,Upper middle income,1.740000e+11,...,28.033886,1.659626,DZA,4120.446842,NaN,99,45.0,1204.0,0.071152,0.001192
2,Algeria,15,2,17.0,130.076923,0.869308,2020-04-11,Africa,Upper middle income,1.740000e+11,...,28.033886,1.659626,DZA,4120.446842,NaN,100,104.0,1270.0,0.071152,0.001257
3,Algeria,15,3,24.0,130.076923,0.815494,2020-04-11,Africa,Upper middle income,1.740000e+11,...,28.033886,1.659626,DZA,4120.446842,NaN,101,94.0,1299.0,0.071152,0.001286
4,Algeria,15,4,5.0,130.076923,0.961561,2020-04-11,Africa,Upper middle income,1.740000e+11,...,28.033886,1.659626,DZA,4120.446842,NaN,102,95.0,1352.0,0.071152,0.001339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2717,Iceland,15,3,2.0,94.576923,0.978853,2020-04-11,Europe,High income,2.587847e+10,...,64.963051,-19.020835,ISL,73368.114606,34708.795586,101,32.0,846.0,0.089691,0.001056
2718,Indonesia,17,6,1.0,114.423077,0.991261,2020-04-25,Asia,Lower middle income,1.040000e+12,...,-0.789275,113.921327,IDN,3885.476642,791.785416,118,275.0,4641.0,0.065662,0.004241
2719,Indonesia,18,0,1.0,114.423077,0.991261,2020-05-02,Asia,Lower middle income,1.040000e+12,...,-0.789275,113.921327,IDN,3885.476642,791.785416,119,214.0,4539.0,0.065662,0.004147
2720,Latvia,15,6,1.0,198.615385,0.994965,2020-04-11,Europe,High income,3.440923e+10,...,56.879635,24.603189,LVA,17854.760564,10939.559990,104,21.0,275.0,0.111276,0.000426
2721,Singapore,19,6,6.0,1038.461538,0.994222,2020-05-09,Asia,High income,3.640000e+11,...,1.352083,103.819836,SGP,64554.158754,117602.607659,132,876.0,9712.0,0.118488,0.016013

In [25]:
print(df['date'].min(), df['date'].max())

2020-04-11 2020-05-16

In [26]:
df.columns

Index(['Country', 'valor_semana', 'dia_semana', 'voos_soma', 'jan_mean',
       'pct_loss', 'date', 'continent', 'IncomeGroup', 'gdp', 'gdp_pc',
       'Output-CLI percent impact', 'pop', 'value_goods_serv',
       'TotalDeaths0518', '1stDay', 'centrality_x', 'prob_target', 'lat',
       'long', 'cod_pais', 'gdp_pcap', 'value_goods_serv_pcap', 'Day',
       'DailyCases', 'ActiveCases', 'centrality_y', 'ViralPotential'],
      dtype='object')

In [27]:
df = df.groupby(['Country', 'jan_mean', 'gdp', 'gdp_pc', 'pop', 'value_goods_serv', 'centrality_y', 'valor_semana'])[['pct_loss', 'DailyCases', 'ActiveCases', 'ViralPotential']].mean().reset_index()

df

,Country,jan_mean,gdp,gdp_pc,pop,value_goods_serv,centrality_y,valor_semana,pct_loss,DailyCases,ActiveCases,ViralPotential
0,Argentina,265.692308,5.200000e+11,1.168395e+09,44494502.0,7.680732e+10,0.050207,15,0.939242,92.714286,1330.428571,0.000929
1,Argentina,265.692308,5.200000e+11,1.168395e+09,44494502.0,7.680732e+10,0.050207,16,0.923112,103.857143,1377.714286,0.000963
2,Argentina,265.692308,5.200000e+11,1.168395e+09,44494502.0,7.680732e+10,0.050207,17,0.916660,119.571429,1494.428571,0.001044
3,Argentina,265.692308,5.200000e+11,1.168395e+09,44494502.0,7.680732e+10,0.050207,18,0.926338,143.285714,1805.142857,0.001261
4,Argentina,265.692308,5.200000e+11,1.168395e+09,44494502.0,7.680732e+10,0.050207,19,0.900529,143.714286,1966.142857,0.001374
...,...,...,...,...,...,...,...,...,...,...,...,...
366,United States,57956.346154,2.050000e+13,6.279459e+09,326687501.0,2.501310e+12,0.168602,16,0.592730,28873.714286,422243.714286,0.990643
367,United States,57956.346154,2.050000e+13,6.279459e+09,326687501.0,2.501310e+12,0.168602,17,0.581759,29460.428571,409404.142857,0.960519
368,United States,57956.346154,2.050000e+13,6.279459e+09,326687501.0,2.501310e+12,0.168602,18,0.534273,27447.285714,400802.571429,0.940339
369,United States,57956.346154,2.050000e+13,6.279459e+09,326687501.0,2.501310e+12,0.168602,19,0.510918,24536.857143,381981.714286,0.896183
370,United States,57956.346154,2.050000e+13,6.279459e+09,326687501.0,2.501310e+12,0.168602,20,0.484977,22422.571429,345556.142857,0.810723

In [28]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [29]:
mod = smf.ols(formula='pct_loss ~ gdp', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.228
Model:                            OLS   Adj. R-squared:                  0.226
Method:                 Least Squares   F-statistic:                     109.2
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           1.45e-22
Time:                        16:09:25   Log-Likelihood:                 280.60
No. Observations:                 371   AIC:                            -557.2
Df Residuals:                     369   BIC:                            -549.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.8378      0.006    131.252      0.000       0.825       0.850
gdp        -1.986e-14    1.9e-15    -10.450      0.000   -2.36e-14   -1.61e-14
==============================================================================
Omnibus:                      153.954   Durbin-Watson:                   0.669
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              680.352
Skew:                          -1.773   Prob(JB):                    1.83e-148
Kurtosis:                       8.608   Cond. No.                     3.63e+12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.63e+12. This might indicate that there are
strong multicollinearity or other numerical problems.

In [30]:
mod = smf.ols(formula='pct_loss ~ value_goods_serv', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.216
Model:                            OLS   Adj. R-squared:                  0.214
Method:                 Least Squares   F-statistic:                     101.7
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           2.76e-21
Time:                        16:09:25   Log-Likelihood:                 277.67
No. Observations:                 371   AIC:                            -551.3
Df Residuals:                     369   BIC:                            -543.5
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.8532      0.007    118.636      0.000       0.839       0.867
value_goods_serv -1.158e-13   1.15e-14    -10.085      0.000   -1.38e-13   -9.32e-14
==============================================================================
Omnibus:                      158.691   Durbin-Watson:                   0.666
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              740.675
Skew:                          -1.813   Prob(JB):                    1.46e-161
Kurtosis:                       8.897   Cond. No.                     7.56e+11
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.56e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

In [31]:
mod = smf.ols(formula='pct_loss ~ gdp', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.228
Model:                            OLS   Adj. R-squared:                  0.226
Method:                 Least Squares   F-statistic:                     109.2
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           1.45e-22
Time:                        16:09:25   Log-Likelihood:                 280.60
No. Observations:                 371   AIC:                            -557.2
Df Residuals:                     369   BIC:                            -549.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.8378      0.006    131.252      0.000       0.825       0.850
gdp        -1.986e-14    1.9e-15    -10.450      0.000   -2.36e-14   -1.61e-14
==============================================================================
Omnibus:                      153.954   Durbin-Watson:                   0.669
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              680.352
Skew:                          -1.773   Prob(JB):                    1.83e-148
Kurtosis:                       8.608   Cond. No.                     3.63e+12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.63e+12. This might indicate that there are
strong multicollinearity or other numerical problems.

In [32]:
mod = smf.ols(formula='pct_loss ~ ViralPotential', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.042
Method:                 Least Squares   F-statistic:                     17.09
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           4.41e-05
Time:                        16:09:25   Log-Likelihood:                 240.91
No. Observations:                 371   AIC:                            -477.8
Df Residuals:                     369   BIC:                            -470.0
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.8204      0.007    119.854      0.000       0.807       0.834
ViralPotential    -0.2252      0.054     -4.135      0.000      -0.332      -0.118
==============================================================================
Omnibus:                      167.028   Durbin-Watson:                   0.615
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              713.330
Skew:                          -1.972   Prob(JB):                    1.27e-155
Kurtosis:                       8.531   Cond. No.                         8.29
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
mod = smf.ols(formula='pct_loss ~ gdp + ViralPotential', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.296
Method:                 Least Squares   F-statistic:                     78.72
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           3.47e-29
Time:                        16:09:25   Log-Likelihood:                 298.57
No. Observations:                 371   AIC:                            -591.1
Df Residuals:                     368   BIC:                            -579.4
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.8396      0.006    137.716      0.000       0.828       0.852
gdp            -3.395e-14   2.93e-15    -11.583      0.000   -3.97e-14   -2.82e-14
ViralPotential     0.4620      0.076      6.119      0.000       0.314       0.611
==============================================================================
Omnibus:                      165.250   Durbin-Watson:                   0.697
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              891.631
Skew:                          -1.838   Prob(JB):                    2.43e-194
Kurtosis:                       9.646   Cond. No.                     4.50e+13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.5e+13. This might indicate that there are
strong multicollinearity or other numerical problems.

In [34]:
mod = smf.ols(formula='pct_loss ~ gdp + ViralPotential + C(Country)', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.803
Method:                 Least Squares   F-statistic:                     25.66
Date:                Sat, 12 Jun 2021   Prob (F-statistic):           6.88e-90
Time:                        16:09:25   Log-Likelihood:                 566.89
No. Observations:                 371   AIC:                            -1010.
Df Residuals:                     309   BIC:                            -767.0
Df Model:                          61
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            0.9326      0.024     38.162      0.000       0.885       0.981
C(Country)[T.Armenia]               -0.0301      0.034     -0.888      0.375      -0.097       0.037
C(Country)[T.Australia]             -0.2797      0.032     -8.640      0.000      -0.343      -0.216
C(Country)[T.Austria]               -0.0380      0.033     -1.141      0.255      -0.103       0.028
C(Country)[T.Bahrain]               -0.1569      0.034     -4.634      0.000      -0.223      -0.090
C(Country)[T.Bangladesh]            -0.0417      0.034     -1.244      0.215      -0.108       0.024
C(Country)[T.Belarus]               -0.1412      0.034     -4.163      0.000      -0.208      -0.074
C(Country)[T.Belgium]               -0.1965      0.033     -5.873      0.000      -0.262      -0.131
C(Country)[T.Bolivia]               -0.0200      0.034     -0.592      0.555      -0.087       0.047
C(Country)[T.Brazil]                -0.0296      0.032     -0.931      0.352      -0.092       0.033
C(Country)[T.Canada]                -0.1310      0.032     -4.116      0.000      -0.194      -0.068
C(Country)[T.China]                 -0.1557      0.059     -2.642      0.009      -0.272      -0.040
C(Country)[T.Colombia]              -0.0122      0.033     -0.364      0.716      -0.078       0.054
C(Country)[T.Costa Rica]            -0.0324      0.034     -0.958      0.339      -0.099       0.034
C(Country)[T.Croatia]               -0.0705      0.034     -2.087      0.038      -0.137      -0.004
C(Country)[T.Czech Republic]        -0.1902      0.034     -5.667      0.000      -0.256      -0.124
C(Country)[T.Denmark]               -0.0881      0.033     -2.635      0.009      -0.154      -0.022
C(Country)[T.Dominican Republic]     0.0457      0.047      0.965      0.335      -0.047       0.139
C(Country)[T.Estonia]               -0.1020      0.034     -3.014      0.003      -0.169      -0.035
C(Country)[T.Finland]               -0.0921      0.034     -2.747      0.006      -0.158      -0.026
C(Country)[T.France]                 0.0141      0.031      0.461      0.645      -0.046       0.074
C(Country)[T.Germany]               -0.0854      0.029     -2.912      0.004      -0.143      -0.028
C(Country)[T.Greece]                -0.1250      0.034     -3.721      0.000      -0.191      -0.059
C(Country)[T.Hungary]               -0.0631      0.034     -1.874      0.062      -0.129       0.003
C(Country)[T.Iceland]               -0.1904      0.034     -5.624      0.000      -0.257      -0.124
C(Country)[T.India]                  0.1076      0.031      3.478      0.001       0.047       0.168
C(Country)[T.Indonesia]             -0.3518      0.033    -10.777      0.000      -0.416      -0.288
C(Country)[T.Ireland]               -0.0781      0.033     -2.336      0.020      -0.144      -0.012
C(Country)[T.Israel]                -0.0466      0.033     -1.396      0.164      -0.112       0.019
C(Country)[T.Italy]                 -0.0014      0.032     -0.043      0.966      -0.065       0.062
C(Country)[T.Japan]                 -0.0782      0.034     -2.333      0.020      -0.144      -0.012
C(Country)[T.Kazakhstan]            -0.3310      0.034     -9.838      0.000      -0.397      -0.265
C(Country)[T.Latvia]                 0.0187      0.034      0.552      0.582      -0.048       0.085
C(Country)[T.Luxembourg]            -0.1708      0.034     -5.053      0.000      -0.237      -0.104
C(Country)[T.Malaysia]               0.0052      0.033      0.155      0.877      -0.061       0.071
C(Country)[T.Malta]                 -0.0504      0.034     -1.488      0.138      -0.117       0.016
C(Country)[T.Mexico]                -0.0560      0.032     -1.724      0.086      -0.120       0.008
C(Country)[T.Morocco]               -0.0249      0.034     -0.737      0.462      -0.091       0.042
C(Country)[T.Netherlands]           -0.1152      0.033     -3.515      0.001      -0.180      -0.051
C(Country)[T.New Zealand]           -0.0813      0.034     -2.419      0.016      -0.147      -0.015
C(Country)[T.Norway]                -0.2455      0.033     -7.369      0.000      -0.311      -0.180
C(Country)[T.Philippines]           -0.0027      0.033     -0.080      0.936      -0.068       0.063
C(Country)[T.Poland]                -0.0349      0.033     -1.052      0.294      -0.100       0.030
C(Country)[T.Portugal]               0.0036      0.034      0.108      0.914      -0.063       0.070
C(Country)[T.Qatar]                 -0.2720      0.034     -8.049      0.000      -0.339      -0.206
C(Country)[T.Romania]               -0.2370      0.034     -7.055      0.000      -0.303      -0.171
C(Country)[T.Russia]                -0.0840      0.036     -2.304      0.022      -0.156      -0.012
C(Country)[T.Saudi Arabia]          -0.0855      0.033     -2.599      0.010      -0.150      -0.021
C(Country)[T.Senegal]               -0.1103      0.034     -3.258      0.001      -0.177      -0.044
C(Country)[T.Serbia]                -0.0454      0.034     -1.341      0.181      -0.112       0.021
C(Country)[T.Singapore]             -0.0351      0.033     -1.050      0.294      -0.101       0.031
C(Country)[T.Slovakia]              -0.3445      0.034    -10.211      0.000      -0.411      -0.278
C(Country)[T.South Africa]           0.0062      0.033      0.187      0.852      -0.059       0.072
C(Country)[T.South Korea]           -0.1981      0.032     -6.140      0.000      -0.262      -0.135
C(Country)[T.Spain]                  0.0103      0.033      0.308      0.758      -0.056       0.076
C(Country)[T.Sri Lanka]              0.0208      0.041      0.507      0.613      -0.060       0.102
C(Country)[T.Sweden]                -0.1177      0.033     -3.544      0.000      -0.183      -0.052
C(Country)[T.Switzerland]           -0.0666      0.033     -2.018      0.044      -0.132      -0.002
C(Country)[T.Thailand]               0.0065      0.033      0.195      0.845      -0.059       0.072
C(Country)[T.Turkey]                -0.0628      0.035     -1.800      0.073      -0.131       0.006
C(Country)[T.Ukraine]               -0.0322      0.034     -0.955      0.341      -0.099       0.034
C(Country)[T.United Kingdom]        -0.0214      0.033     -0.645      0.519      -0.087       0.044
C(Country)[T.United States]          0.0951      0.043      2.231      0.026       0.011       0.179
gdp                              -3.094e-14   4.65e-15     -6.659      0.000   -4.01e-14   -2.18e-14
ViralPotential                       0.1682      0.135      1.242      0.215      -0.098       0.435
==============================================================================
Omnibus:                      199.840   Durbin-Watson:                   1.404
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4930.486
Skew:                          -1.723   Prob(JB):                         0.00
Kurtosis:                      20.524   Cond. No.                     1.52e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.82e-11. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [37]:
mod = smf.ols(formula='pct_loss ~ gdp + ViralPotential + C(Country) + C(valor_semana)', data=df)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               pct_loss   R-squared:                       0.871
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     31.17
Date:                Sun, 13 Jun 2021   Prob (F-statistic):          3.88e-102
Time:                        08:07:01   Log-Likelihood:                 612.76
No. Observations:                 371   AIC:                            -1092.
Df Residuals:                     304   BIC:                            -829.1
Df Model:                          66
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            0.9582      0.023     42.471      0.000       0.914       1.003
C(Country)[T.Armenia]               -0.0293      0.030     -0.971      0.332      -0.089       0.030
C(Country)[T.Australia]             -0.2814      0.029     -9.755      0.000      -0.338      -0.225
C(Country)[T.Austria]               -0.0376      0.030     -1.269      0.206      -0.096       0.021
C(Country)[T.Bahrain]               -0.1559      0.030     -5.171      0.000      -0.215      -0.097
C(Country)[T.Bangladesh]            -0.0411      0.030     -1.376      0.170      -0.100       0.018
C(Country)[T.Belarus]               -0.1398      0.030     -4.627      0.000      -0.199      -0.080
C(Country)[T.Belgium]               -0.1947      0.030     -6.533      0.000      -0.253      -0.136
C(Country)[T.Bolivia]               -0.0192      0.030     -0.637      0.525      -0.079       0.040
C(Country)[T.Brazil]                -0.0284      0.028     -1.004      0.316      -0.084       0.027
C(Country)[T.Canada]                -0.1312      0.028     -4.629      0.000      -0.187      -0.075
C(Country)[T.China]                 -0.1796      0.053     -3.414      0.001      -0.283      -0.076
C(Country)[T.Colombia]              -0.0118      0.030     -0.395      0.693      -0.070       0.047
C(Country)[T.Costa Rica]            -0.0316      0.030     -1.050      0.295      -0.091       0.028
C(Country)[T.Croatia]               -0.0697      0.030     -2.315      0.021      -0.129      -0.010
C(Country)[T.Czech Republic]        -0.1896      0.030     -6.340      0.000      -0.248      -0.131
C(Country)[T.Denmark]               -0.0876      0.030     -2.941      0.004      -0.146      -0.029
C(Country)[T.Dominican Republic]     0.0217      0.042      0.512      0.609      -0.062       0.105
C(Country)[T.Estonia]               -0.1012      0.030     -3.356      0.001      -0.161      -0.042
C(Country)[T.Finland]               -0.0915      0.030     -3.065      0.002      -0.150      -0.033
C(Country)[T.France]                 0.0145      0.027      0.531      0.596      -0.039       0.068
C(Country)[T.Germany]               -0.0863      0.026     -3.303      0.001      -0.138      -0.035
C(Country)[T.Greece]                -0.1245      0.030     -4.159      0.000      -0.183      -0.066
C(Country)[T.Hungary]               -0.0624      0.030     -2.081      0.038      -0.121      -0.003
C(Country)[T.Iceland]               -0.1895      0.030     -6.285      0.000      -0.249      -0.130
C(Country)[T.India]                  0.1057      0.028      3.837      0.000       0.052       0.160
C(Country)[T.Indonesia]             -0.3526      0.029    -12.123      0.000      -0.410      -0.295
C(Country)[T.Ireland]               -0.0772      0.030     -2.592      0.010      -0.136      -0.019
C(Country)[T.Israel]                -0.0460      0.030     -1.545      0.123      -0.105       0.013
C(Country)[T.Italy]                  0.0015      0.029      0.051      0.960      -0.055       0.058
C(Country)[T.Japan]                 -0.0861      0.030     -2.880      0.004      -0.145      -0.027
C(Country)[T.Kazakhstan]            -0.3304      0.030    -11.021      0.000      -0.389      -0.271
C(Country)[T.Latvia]                 0.0195      0.030      0.647      0.518      -0.040       0.079
C(Country)[T.Luxembourg]            -0.1699      0.030     -5.645      0.000      -0.229      -0.111
C(Country)[T.Malaysia]               0.0055      0.030      0.184      0.854      -0.053       0.064
C(Country)[T.Malta]                 -0.0495      0.030     -1.641      0.102      -0.109       0.010
C(Country)[T.Mexico]                -0.0569      0.029     -1.969      0.050      -0.114   -2.41e-05
C(Country)[T.Morocco]               -0.0240      0.030     -0.800      0.424      -0.083       0.035
C(Country)[T.Netherlands]           -0.1146      0.029     -3.922      0.000      -0.172      -0.057
C(Country)[T.New Zealand]           -0.0808      0.030     -2.698      0.007      -0.140      -0.022
C(Country)[T.Norway]                -0.2453      0.030     -8.264      0.000      -0.304      -0.187
C(Country)[T.Philippines]           -0.0022      0.030     -0.074      0.941      -0.061       0.056
C(Country)[T.Poland]                -0.0345      0.030     -1.168      0.244      -0.093       0.024
C(Country)[T.Portugal]               0.0048      0.030      0.161      0.872      -0.054       0.064
C(Country)[T.Qatar]                 -0.2705      0.030     -8.983      0.000      -0.330      -0.211
C(Country)[T.Romania]               -0.2362      0.030     -7.890      0.000      -0.295      -0.177
C(Country)[T.Russia]                -0.0767      0.033     -2.359      0.019      -0.141      -0.013
C(Country)[T.Saudi Arabia]          -0.0851      0.029     -2.901      0.004      -0.143      -0.027
C(Country)[T.Senegal]               -0.1095      0.030     -3.629      0.000      -0.169      -0.050
C(Country)[T.Serbia]                -0.0444      0.030     -1.470      0.143      -0.104       0.015
C(Country)[T.Singapore]             -0.0342      0.030     -1.148      0.252      -0.093       0.024
C(Country)[T.Slovakia]              -0.3438      0.030    -11.437      0.000      -0.403      -0.285
C(Country)[T.South Africa]           0.0067      0.030      0.224      0.823      -0.052       0.065
C(Country)[T.South Korea]           -0.2001      0.029     -6.962      0.000      -0.257      -0.144
C(Country)[T.Spain]                  0.0141      0.030      0.474      0.636      -0.045       0.073
C(Country)[T.Sri Lanka]              0.0024      0.037      0.064      0.949      -0.070       0.075
C(Country)[T.Sweden]                -0.1170      0.030     -3.954      0.000      -0.175      -0.059
C(Country)[T.Switzerland]           -0.0663      0.029     -2.255      0.025      -0.124      -0.008
C(Country)[T.Thailand]               0.0065      0.030      0.219      0.827      -0.052       0.065
C(Country)[T.Turkey]                -0.0580      0.031     -1.866      0.063      -0.119       0.003
C(Country)[T.Ukraine]               -0.0311      0.030     -1.033      0.303      -0.090       0.028
C(Country)[T.United Kingdom]        -0.0161      0.030     -0.544      0.587      -0.074       0.042
C(Country)[T.United States]          0.1103      0.038      2.902      0.004       0.035       0.185
C(valor_semana)[T.16]               -0.0032      0.009     -0.352      0.725      -0.021       0.015
C(valor_semana)[T.17]               -0.0186      0.009     -2.024      0.044      -0.037      -0.001
C(valor_semana)[T.18]               -0.0186      0.009     -2.016      0.045      -0.037      -0.000
C(valor_semana)[T.19]               -0.0498      0.009     -5.394      0.000      -0.068      -0.032
C(valor_semana)[T.20]               -0.0685      0.009     -7.415      0.000      -0.087      -0.050
gdp                              -2.912e-14   4.15e-15     -7.015      0.000   -3.73e-14    -2.1e-14
ViralPotential                       0.1115      0.121      0.923      0.357      -0.126       0.349
==============================================================================
Omnibus:                      202.820   Durbin-Watson:                   1.321
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6151.747
Skew:                          -1.692   Prob(JB):                         0.00
Kurtosis:                      22.660   Cond. No.                     3.79e+22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.91e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.